.note-container{
    border: 1px solid gray;
    border-radius: 5px;
    padding:10px;
    cursor:pointer;
    width: 300px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.time-stamp{
    color: gray;
    font-size: small;
}

.note-text{
    font-size: larger;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.top-section{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
}

.close-button{
    border:none;
    background-color: white;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
}