.note-container{
    border: 1px solid gray;
    border-radius: 5px;
    padding:10px;
    cursor:pointer;
    width: 250px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.time-stamp{
    color: gray;
    font-size: small;
}

.note-text{
    font-size: larger;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.top-section{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:10px;
}

.close-button{
    border:none;
    width: 30px;
    background-color: white;
    font-weight: bold;
    font-size: larger;
    cursor: pointer;
    flex: 0 0 auto;
}

.personal{
    background-color: aqua;
}

.work{
    background-color: crimson;
}

.family{
    background-color: chartreuse;
}
