.main-container{
  position:relative;
  width: 1200px;
}

.notes-container{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width:70%;
  gap:10px;
}

.note-edit-container{
  width: 200px;
  height: 300px;

}

.modal-container{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(172, 181, 189,0.5);
}