.main-container{
  position:relative;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notes-container{
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width:70%;
  gap:10px;
}

.note-edit-container{
  width: 200px;
  height: 300px;

}

.filter-section{
  margin: auto;
  display: flex;
  width:80%;
  justify-content: center;
}

.filter-section input{
  width:40%;
}

.clicked{
  background-color:black;
  color:white;
}

.modal-container{
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 207, 211, 0.5);
}